body {

}

.panier {
    margin-right: 15px;
}

.dropdown:hover .dropdown-menu
{
    display: block;
}

.colorchangered:hover{
    color:red; 
    }        
.colorchangeblue:hover{
    color:blue; 
    }        
.colorchangepink:hover{
    color:red; 
    }       
.colorchangelightblue:hover{
    color:blue; 
    }